<p>edit-employee works!</p>
<div class="container mt-4">
    <h2 class="text-center">Edit Employee</h2>
    <form (ngSubmit)="onSubmit()" #Form="ngForm">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" class="form-control" id="id" name="id" [(ngModel)]="editEmployee.id" readonly>
          </div>
      <div class="form-group">
        <label for="firstname">FirstName</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="editEmployee.firstName" required>
      </div>
      <div class="form-group">
        <label for="name">LastName</label>
        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="editEmployee.lastName" required>
      </div>
      <div class="form-group">
        <label for="contact">Contact No</label>
        <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="editEmployee.contact" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="editEmployee.email" required>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age" [(ngModel)]="editEmployee.age" required>
      </div>
      <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="editEmployee.userName" required>
      </div>
      <div class="form-group">
        <label for="paswword">Password</label>
        <input type="text" class="form-control" id="paswword" name="paswword" [(ngModel)]="editEmployee.password" required>
      </div>
      <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>