<div class="container mt-4">
  <h2 class="text-center">Add Employee</h2>
  <p *ngIf="errorMessage" class="text-danger">
    <span *ngFor="let error of errorMessage.split('\n')">{{ error }}</span>
</p>
  <form (ngSubmit)="onSubmit()" #Form="ngForm">
      <div class="form-group">
          <label for="firstname">FirstName</label>
          <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="addemployee.firstName" required>
      </div>
      <div class="form-group">
          <label for="lastname">LastName</label>
          <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="addemployee.lastName" required>
      </div>
      <div class="form-group">
          <label for="contact">Contact No</label>
          <input type="number" class="form-control" id="contact" name="contact" [(ngModel)]="addemployee.contact" maxlength="10" required>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="addemployee.email" required>
      </div>
      <div class="form-group">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" name="age" [(ngModel)]="addemployee.age" required>
      </div>
      <div class="form-group">
          <label for="username">UserName</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="addemployee.userName" required>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" name="password" [(ngModel)]="addemployee.password" required>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
  </form>
  
</div>
